<div class="container">
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Card Game</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search cards" aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>           
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'forum' %}">Forum</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
  </div>