{% extends 'base.html' %}
{% load static %}

{% block title %}Customers{% endblock %}

{% block content %}
<h1>All Customers</h1>

<table class="table table-hover">
    <tr>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
    </tr>
    {% for customer in my_customer %}
    <tr>
        <td>{{customer.last_name}}</td>
        <td>{{customer.first_name}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.phone_number}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.city}}</td>
        <td>{{customer.country}}</td>
    </tr>
    {% endfor %}
</table>

<a class="btn btn-primary" href="{% url 'home' %}">Home</a>

{% endblock %}


{% block title%}Customer Page{% endblock %}