{% extends 'base.html' %}
{% load static %}

{% block title %}Vehicles{% endblock %}


{% block content %}
<h1>All Vehicles</h1>

{% for vehicle in my_vehicle %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Vehicule Type</th>
        <th scope="col">Vehicule Size</th>
        <th scope="col">Rental Rate</th>
      </tr>
    </thead>
    {% for vehicle in Vehicles %}
    <tbody>
      <tr>
        <th scope="row">{{vehicle.id}}</th>
        <td>{{vehicle.vehicle_type}}</td>
        <td>{{vehicle.size}}</td>
        <td>{{vehicle.daily_rate}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>      
<a class="btn btn-primary" href="{% url 'home' %}">Home</a>

{% endblock %}


