{% extends 'base.html' %}}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{heading}}{% endblock %}
{% block summary %}{{summary}}{% endblock %}
{% block content %}

<a href="/vehicles/add"><button type="button" class="btn btn-success">Add Vehicle</button></a>
<br><br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Full Details</th>
            <th scope="col">Size</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <th scope="row"><a href="/vehicles/details/{{vehicle.id}}"><button type="button"
                        class="btn btn-info">Vehicle Ref #{{vehicle.id}}</button></a></th>
            <td>{{vehicle.size.name}}</td>
            <td>{{vehicle.vehicle_type.name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}