{% extends 'partials/base.html' %}
{% load static %}

{% load crispy_forms_tags %}


{% block content %}

{% include 'partials/navbar.html' %}

<div class="container-fluid">
    <h1>Add Director</h1>
    <form method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            {{form | crispy}}
        </table><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div><br>


<a class="btn btn-primary" href="{% url 'homepage' %}">Home</a>

{% endblock %}