<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">IMDI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            {% if user.username %}

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'add_film' %}">Add Film<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'add_director' %}">Add Director<span
                        class="sr-only">(current)</span></a>
            </li>

            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Logged as : {% if user.username %}
                    {{ user.username }}
                    {% else %}
                    [xxxx]
                    {% endif %}
                </a>
                {% if user.username %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'signup' %}">SignUp</a>
                        {% endif %}
                    </div>
            </li>
            {% if user.username %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' user.id%}">My Profile<span
                        class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

{#todo:404 page :)#}