body {
    background-image: url(https://img.freepik.com/free-vector/abstract-shiny-lines-white-gray-background_1017-25097.jpg?size=626&ext=jpg);
}

nav {
    font-weight: bold;
    font-size: 20px;
    position: sticky;
    background-color: #111;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    display: block;
    overflow: hidden;
    text-align: right;
}

#logo {
    float: left;
    font-size: 50px;
}

li {
    float: right;
    display: block;
    text-decoration: none;
    float: right;
    position: relative;
}

i {color: white;
font-size: large;}

li a {
    display: block;
    color: white;
    text-align: flex-start;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    font-size: 30px;
    color: red;
}

img {display: inline-block;}

footer p {color: black;
    font-size: 20px;}

@media all and (min-width: 1024px) and (max-width: 1280px) {body {
    background-color: lightblue;
}}

@media all and (min-width: 768px) and (max-width: 1024px) { body {
    background-color: lightgoldenrodyellow;
}}

@media all and (min-width: 480px) and (max-width: 768px) {body {
    background-color: lightcyan;
} }

@media all and (max-width: 480px) {body {
    background-color: lightcoral;
}}