body {
    background-color: lightgray;
}

nav {
    font-weight: bold;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#title {
    float: left
}

li {
    float: right;
}

i {color: white;
font-size: large;}

li a {
    display: block;
    color: white;
    text-align: flex-start;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#firstname {
color: black;
}

#lastname {
    color: black;

}

#username {
    color: black;

}

#email {
    color: blue;

}

#password {
    color: red;

}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (min-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  @media only screen and (min-width: 768px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (min-width: 992px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (min-width: 1200px) {
    body {
      background-color: lightblue;
    }
  }

