.all {
    display: flex;
}

body {
    background-image: url(https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 100% 100%;
  }

nav {
    font-weight: lighter;
    font-size: 20px;
    position: sticky;
    background-color: white;
}

.brand {
position: relative;
}

ul li {
    align-items: center;
    display: block;
    text-decoration: none;
    position: relative;
}

p {
    color: white;
}

.row {
    color: white;
}

.home {
    align-self: center;
}

.features {
    align-self: flex-end;
}

.reviews {
    align-self: flex-end;
}

.contact {
    align-self: flex-end;
}

h2 {
    align-items: center;
    background-image: hidden;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {body {
    background-color: lightblue;
}}

@media all and (min-width: 768px) and (max-width: 1024px) { body {
    background-color: lightgoldenrodyellow;
}}

@media all and (min-width: 480px) and (max-width: 768px) {body {
    background-color: lightcyan;
} }

@media all and (max-width: 480px) {body {
    background-color: lightcoral;
}}