:root {
    --lightblue: #F6F9FC;
    --red: #d64041;
  }
  
  a,
  a:hover {
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .bg-lightblue {
    background: var(--lightblue);
  }
  
  .bg-red {
    background: var(--red);
  }
  
  .text-red {
    color: var(--red);
  }
  
  .container-fluid-max {
    max-width: 1440px;
  }
  
  .cover {
    background: no-repeat center/cover;
  }
  
  .p-15 {
    padding: 15px;
  }

  .scroll .page-header {
    background: var(--red);
  }
  
  .page-header {
    transition: background 0.5s ease-in-out;
  }
  
  .page-header .navbar {
    padding: 1rem 0;
  }
  
  .page-header .navbar-toggler {
    border-color: var(--white); 
  }
  
  @media screen and (max-width: 991px) {
    .page-header {
      background: var(--red);
    }
  }

  .scroll .hero {
    transform: scale(0.98);
  }
  
  .hero {
    background-attachment: fixed;
    transition: transform 0.5s ease-in-out;
  }
  
  .hero::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }
  
  .hero .container-fluid {
    z-index: 10;
  }

  .popular-destinations figure {
    margin-bottom: 30px;
  }
  
  .popular-destinations figcaption {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .popular-destinations img {
    filter: grayscale(100%) blur(3px);
    transition: transform 0.5s, filter 0.75s;
  }
  
  .popular-destinations a:hover img {
    transform: scale(1.25);
    filter: none;
  }

  .page-footer .footer-links {
    text-align: right;
  }
  
  @media screen and (max-width: 767px) {
    .page-footer .footer-child {
      text-align: center;
    }
  }

  .scroll .page-header {
    background: var(--red);
  }
  
  .scroll .hero {
    transform: scale(0.98);
  }
  
  .page-header {
    transition: background 0.5s ease-in-out;
  }
  
  .hero {
    transition: transform 0.5s ease-in-out;
  }
  
  @media screen and (max-width: 991px) {
    .page-header {
      background: var(--red);
    }
  }

  $(".page-header .nav-link, .navbar-brand").on("click", function(e) {
    e.preventDefault();
    const href = $(this).attr("href");
    $("html, body").animate({
      scrollTop: $(href).offset().top - 71
    }, 600);
  });